* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.header {
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
}

.footer {
    background: #111;
}

.header__linkCaption {
    margin-left: 15px;
    color: #c70028;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.header__search {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 3%;
}

.header__links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.header__link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.header__input {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
}

.search__button {
    background-color: #222;
    color: #fff;
    border: none;
    width: 25px;
    height: 25px;
    background-image: url("search.png");
    background-size: 100% 100%;
}

.header__link:hover {
    text-decoration: underline;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    padding: 48px 30px;
}

.footer__topColumn {
    float: left;
}

.footer__heading {
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.footer__links {
    list-style-type: none;
}

.footer__link {
    color: #fff;
    line-height: 21px;
    font-size: 14px;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 18px 30px 48px 30px;
    margin: auto;
    width: 80%;
    border-top: 1px solid #222;
}

.footer__logo {
    font-size: 12px;
    float: left;
    text-align: right;
    color: #fff;
}

.footer__data {
    display: flex;
    margin-top: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

.footer__smallLink {
    text-decoration: none;
    color: #666;
    padding-left: 1px;
}

.footer__smallLink:hover {
    text-decoration: underline;
}

.footer__legalListItem {
    display: inline-block;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__head1 {
    margin-top: 48px;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
}

.main__head2 {
    margin-top: 48px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 18px;
    position: relative;
}

.main__head2::after {
    background: #d92323;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.main__hotList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    list-style-type: none;
    position: relative;
    margin: 36px auto;
}

.main__artistsListItem {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 24px;
    position: relative;
    width: 15%;
}

.main__artistCard {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__head3 {
    margin-top: 12px;
}

.main__head3 a {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    max-height: 42px;
}

.main__linkCard {
    text-decoration: none;
}

.main__linkCard:hover {
    text-decoration: underline;
}

.main__tag {
    color: #999;
    position: relative;
    font-size: 12px;
    line-height: 18px;
}

.main__tagItem {
    list-style-type: none;
    display: inline;
}

.main__mediaItem {
    order: -1;
    position: relative;
    border-radius: 50%;
}

.avatar::after {
    display: block;
    position: relative;
    content: "";
    padding-top: 100%;
}

.avatar img {
    border-style: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.avatarLink {
    width: 100%;
    height: 0;
    padding-top: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.main__popularList {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    row-gap: 24px;
    column-gap: 30px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 70px);
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80%;
    position: relative;
}

.main__popularListItem {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 80px;
}

.main__artistTag {
    color: #222;
    font-size: 14px;
    line-height: 21px;
}

.avatarKvadro {
    display: block;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 10px;
}

.avatarKvadro::after {
    content: "";
    display: block;
    padding-top: 100%;
    position: relative;
}

.avatarKvadro img {
    border-style: none;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.avatarKvadroLink {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 0;
}

.main__search {
    display: flex;
    flex-direction: column;
}

.main__searchHead1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-family: sans-serif;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
}

.nav__link {
    color: #222;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__search {
    margin-top: 20px;
    margin-left: -10px;
}

.nav__search::after {
    border-top: 1px solid #ebebeb;
    content: "";
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 9px;
    position: absolute;
}

.accordion {
    width: 65%;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 40px;
    position: relative;
    padding-left: 10%;
    padding-right: 68px;
}

.space {
    background: #f5f5f5;
    width: 35%;
    height: 100%;
}

.main__searchSpace {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 9px;
    position: relative;
}

.main__nav {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.search__form {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.search__form::after {
    border-right: 1px solid #ccc;
    content: "";
    height: 24px;
    margin-top: -12px;
    position: absolute;
    right: 40px;
    top: 50%;
}

.search__field {
    width: 100%;
    padding: 6px 80px 6px 12px;
    border-width: 2px;
    border: 1px solid #eee;
}

.search__reset {
    height: 100%;
    width: 40px;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40px;
    background: none;
    border: none;
}

.search__reset::before {
    background-image: url("clear_field.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    margin-left: -8px;
    left: 50%;
    content: "";
    top: 50%;
    position: absolute;
    right: auto;
}

.search__submit {
    height: 100%;
    width: 40px;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    opacity: .5;
}

.search__submit::before {
    background-image: url("search_field.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    margin-left: -8px;
    left: 50%;
    content: "";
    top: 50%;
    position: absolute;
    right: auto;
}

.main__headLink {
    text-decoration: none;
    color: #222;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}

.main__headLink:hover {
    text-decoration: underline;
}

.artistList, .albumList {
    list-style-type: none;
    margin-top: 12px;
    position: relative;
    height: min-content;
    display: block;
}

.artistList::after, .albumList::after {
    content: "";
    display: table;
    clear: both;
}

.artistListItem, .albumListItem {
    width: 192px;
    height: 192px;
    position: relative;
    display: block;
    float: left;
}

.artistListItem::after, .albumListItem::after {
    background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .7));
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.artistListItem img, .albumListItem img {
    width: 100%;
    vertical-align: middle;
}

.artistLink, .albumLink {
    color: #fff;
    position: relative;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
}

.artistLinkSecond {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    position: relative;
    z-index: 2;
    font-size: 12px;
    line-height: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.artistLink:hover, .albumLink:hover, .artistLinkSecond:hover {
    text-decoration: underline;
}

.artistListItemDetails, .albumListItemDetails {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .7);
    position: absolute;
    margin: 0;
    left: 15px;
    right: 15px;
    bottom: 15px;
    z-index: 2;
}

.moreLink {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: right;
}

.moreLink a {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    padding-right: 17px;
    color: #005399;
    text-decoration: none;
}

.moreLink a:hover {
    text-decoration: underline;
}

.moreLink a::before {
    background-image: url("arrow_small_right.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    margin-top: -6px;
    left: auto;
    right: 0;
    top: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
}

.trackList__head {
    display: block;
    overflow: hidden;
    position: absolute;
    margin: -1px;
    height: 1px;
    width: 1px;
}

.trackList {
    display: block;
    position: relative;
    width: 100%;
}

.trackList__row {
    display: flex;
    position: relative;
    align-items: center;
    padding: 9px 15px;
    width: 100%;
}

.trackList__row::after {
    display: block;
    position: absolute;
    border-bottom: 1px solid #ebebeb;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
}

.trackList__play{
    display: block;
    position: relative;
    margin-right: 7.5px;
    width: 32px;
}

.trackList__playLink {
    display: inline-block;
    position: relative;
    left: auto;
    right: auto;
    top: 0;
    vertical-align: top;
    height: 32px;
    width: 32px;
    font-size: 0;
}

.trackList__playLink::before {
    background-image: url("play_dark.png");
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-color: hsla(0,0%,100%,.85);
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .07);
    content: "";
    height: 32px;
    width: 32px;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    right: auto;
    top: 50%;
    left: 50%;
}

.trackList__album {
    display: block;
    margin-left: 7.5px;
    margin-right: 7.5px;
    top: auto;
    left: auto;
    right: auto;
    position: relative;
    height: 32px;
    width: 32px;
}

.trackList__album img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-style: none;
}

.trackList__album::after {
    display: block;
    position: relative;
    content: "";
    padding-top: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .07);
}

.trackList__name {
    display: block;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    width: 60%;
    margin-left: 7.5px;
    margin-right: 7.5px;
    overflow: hidden;
}

.trackList__artist {
    display: block;
    position: relative;
    width: 40%;
    flex-shrink: 1;
    margin-left: 7.5px;
    margin-right: 7.5px;
    overflow: hidden;
}

.trackList__nameLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #222;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trackList__artistLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #222;
    text-decoration: none;
    white-space: nowrap;
}

.trackList__nameLink:hover, .trackList__artistLink:hover {
    text-decoration: underline;
}

.trackList__duration {
    display: block;
    flex-shrink: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #999;
    width: 50px;
    text-align: right;
    margin-left: 7.5px;
}